*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

@font-face {
  font-family: 'Segoe';
  src: url("../fonts/Segoe.ttf"); }

.secondaray-header {
  font-size: 1.6rem;
  color: #f5f8fc;
  font-weight: 400; }
  .secondaray-header__bigger-grey {
    color: #394a5e;
    font-size: 1.8rem; }
  .secondaray-header__bigger-blue {
    color: #004899;
    font-size: 1.8rem; }
  .secondaray-header__bigger-white {
    color: #fff;
    font-size: 1.8rem; }

.m-top-20px {
  margin-top: 2rem; }

.m-top-10px {
  margin-top: 1rem; }

.f-weight-300 {
  font-weight: 300; }

.f-weight-400 {
  font-weight: 400; }

.f-weight-500 {
  font-weight: 500; }

.f-weight-700 {
  font-weight: 700; }

.btn {
  width: 115px;
  height: 36px;
  font-family: 'Segoe';
  font-size: 1.4rem;
  line-height: 3rem;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  background-color: none;
  background-image: linear-gradient(90deg, #2570c5 0%, #004799 100%);
  cursor: pointer; }

.btn-arr {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  filter: drop-shadow(0px 3px 3.5px rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(0deg, #f5f5f5 0%, #fff 100%);
  border: 2px solid rgba(0, 0, 0, 0.28);
  color: #556578;
  font-size: 18px;
  cursor: pointer; }
  .btn-arr-news {
    filter: none;
    border: none;
    background-color: transparent;
    background-image: none;
    color: #797979; }

.navigation-list {
  display: flex;
  list-style: none; }
  .navigation-list__link {
    transition: all 0.2s; }
    .navigation-list__link:link, .navigation-list__link:visited {
      display: inline-block;
      font-size: 1.4rem;
      color: #4e7199;
      text-decoration: none;
      padding: 0.8rem 1.7rem; }
    .navigation-list__link:hover, .navigation-list__link:active {
      background-color: #e3e9f1;
      border-radius: 100px; }

.active-link {
  background-color: #e3e9f1;
  border-radius: 100px; }

.icons-bar-and-avatar {
  display: flex;
  align-items: center;
  justify-content: none;
  gap: 4rem;
  width: max-content; }

.icons-bar {
  display: flex;
  list-style: none;
  gap: 1.7rem; }
  .icons-bar__item {
    display: inline; }
    .icons-bar__item i {
      font-size: 1.9rem;
      color: #797979; }

.avatar {
  display: flex;
  align-items: center;
  justify-content: none;
  position: relative; }
  .avatar__user-photo {
    display: flex;
    align-items: center;
    justify-content: none;
    border-radius: 100%;
    border: 2px solid rgba(190, 190, 190, 0.27); }
  .avatar__user-check {
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    background-color: #1cbd6a;
    border-radius: 100%;
    right: 0;
    transform: translateX(50%);
    filter: drop-shadow(0px 1px 0.5px rgba(0, 0, 0, 0.3)); }
    .avatar__user-check i {
      color: #fff;
      width: 10px;
      height: 6px; }
    .avatar__user-check i::before {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }

.backdrop {
  border-radius: 5px;
  filter: drop-shadow(0px 10px 6.5px rgba(0, 0, 0, 0.2));
  width: 22rem;
  height: 26.7rem;
  background-color: #f5f8fc;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  transform: translateY(2.4rem);
  position: fixed; }
  .backdrop-company {
    visibility: visible; }
  .backdrop__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    height: 100%; }
  .backdrop__element {
    display: flex;
    align-items: center; }
    .backdrop__element-link {
      width: 100%;
      padding: 0.7rem 0 0.7rem 2rem;
      font-size: 1.3rem; }
      .backdrop__element-link:link, .backdrop__element-link:visited {
        color: #4e7199;
        text-decoration: none; }
      .backdrop__element-link:hover, .backdrop__element-link:active, .backdrop__element-link-active {
        background-color: #004899;
        color: #fff !important; }

.section-task {
  display: grid;
  justify-items: stretch; }
  .section-task__title {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #004899; }
  .section-task__element {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .section-task__element i {
      font-size: 3.6rem;
      margin-top: 0; }
    .section-task__element p {
      font-size: 1.2rem;
      font-family: 'Segoe'; }
    .section-task__element__icon-1, .section-task__element__number-pending {
      color: #a8ff61; }
    .section-task__element__icon-2, .section-task__element__number-upcoming {
      color: #fffa74; }
    .section-task__element__icon-3, .section-task__element__number-outdated {
      color: #ff8474; }
    .section-task__element-text {
      color: #66adff; }
    .section-task__element__number-pending, .section-task__element__number-upcoming, .section-task__element__number-outdated {
      transform: translate(25px, 50%); }
    .section-task__element:not(:last-child) {
      border-bottom: 1px solid #004899; }

.project {
  display: flex;
  flex-direction: column;
  justify-content: none;
  list-style: none;
  gap: 1.5rem; }
  .project__element {
    display: flex;
    justify-content: space-between; }
    .project__element-data {
      display: flex;
      width: 32rem;
      justify-content: space-between; }
    .project__element-name {
      font-size: 1.4rem; }
    .project__element-money {
      font-size: 1.2rem; }
    .project__element-1 {
      color: #4b8bd0; }
    .project__element-2 {
      color: #704bec; }
    .project__element-3 {
      color: #bb5a28; }
    .project__element-4 {
      color: #1cbd6a; }
    .project__element-bars {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 25rem;
      height: 1.5rem; }
      .project__element-bars-measure {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-family: 'Segoe';
        position: relative;
        transform: translateX(-8px);
        color: #b3b3b3; }
        .project__element-bars-measure-line {
          width: 20%; }
          .project__element-bars-measure-line::before {
            content: '';
            height: 13.5rem;
            width: 1px;
            transform: translate(8px, -100%);
            background-color: #b3b3b3;
            position: absolute; }
      .project__element-bars-big {
        height: 1rem; }
        .project__element-bars-big-1 {
          width: 94%;
          background-image: linear-gradient(90deg, rgba(73, 138, 208, 0.2) 0%, #4b8bd0 100%); }
        .project__element-bars-big-2 {
          width: 79.2%;
          background-image: linear-gradient(90deg, rgba(113, 75, 236, 0.2) 0%, #704bec 100%); }
        .project__element-bars-big-3 {
          width: 54.2%;
          background-image: linear-gradient(90deg, rgba(189, 90, 40, 0.2) 0%, #bb5a28 100%); }
        .project__element-bars-big-4 {
          width: 29.2%;
          background-image: linear-gradient(90deg, rgba(29, 191, 107, 0.2) 0%, #1cbd6a 100%); }
      .project__element-bars-small {
        height: 3px; }
        .project__element-bars-small-1 {
          width: 78%;
          background-color: rgba(122, 205, 235, 0.6); }
        .project__element-bars-small-2 {
          width: 75.2%;
          background-color: rgba(192, 156, 247, 0.6); }
        .project__element-bars-small-3 {
          width: 56%;
          background-color: rgba(235, 173, 122, 0.6); }
        .project__element-bars-small-4 {
          width: 5.2%;
          background-color: rgba(119, 218, 167, 0.6); }

.button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end; }

.section-ideas-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18.5rem;
  overflow: hidden; }
  .section-ideas-photo img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    transform: translateY(10px); }

.section-ideas__informations {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center; }

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%; }
  .info-number {
    font-size: 3.6rem; }
  .info-name {
    font-size: 1.2rem;
    line-height: 30px; }
  .info-blue {
    color: #2570c4; }
  .info-green {
    color: #1cbd6a; }
  .info-red {
    color: #bb5a28; }
  .info:not(:last-child) {
    border-right: 1px solid #d9d9d9; }

.bookmarks {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: transparent;
  overflow: hidden; }
  .bookmarks-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5.5rem;
    width: 16rem;
    border-radius: 5px 0 0 0;
    background-color: #002754;
    position: relative; }
    .bookmarks-title::before {
      content: '';
      width: 10%;
      height: 100%;
      background-color: inherit;
      right: 0;
      transform: translateX(100%);
      position: absolute; }
  .bookmarks-marks {
    display: flex;
    align-items: flex-end;
    z-index: 2; }
  .bookmarks-mark {
    width: 12rem;
    height: 5.5rem;
    border: none;
    border-radius: 5px 5px 0 0;
    background-color: #004899;
    font-size: 1.4rem;
    color: #fff;
    position: relative;
    cursor: pointer;
    transition: all 0.2s; }
    .bookmarks-mark:not(:first-child) {
      background: linear-gradient(90deg, #003470 3%, #004899 17%); }
    .bookmarks-mark:hover, .bookmarks-mark-active {
      background: none;
      background-color: #fff;
      color: #394a5e;
      height: 6rem; }

.list {
  list-style: none;
  height: 51.3rem; }
  .list-element {
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 3;
    height: 20%;
    background-color: #f5f8fc; }
    .list-element:not(:last-child) {
      border-bottom: 1px solid #d9d9d9; }
  .list-container {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: none;
    gap: 1.4rem; }
    .list-container__title {
      color: #2671c4; }
    .list-container__textbox {
      width: 53rem;
      line-height: 1.8rem;
      color: #556578; }
  .list .active-li {
    background-color: #fff; }
    .list .active-li button {
      width: 32px;
      height: 32px;
      color: #556578;
      border: 2px solid rgba(0, 0, 0, 0.08); }

.slider__first-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5.5rem;
  padding: 0 2rem; }
  .slider__first-container-pag {
    display: flex;
    gap: 0.5rem; }
    .slider__first-container-pag-element {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1.6rem;
      height: 1.6rem;
      border-radius: 8px;
      background-color: rgba(62, 62, 64, 0);
      border: 1px solid rgba(0, 0, 0, 0.18); }
      .slider__first-container-pag-element-active {
        width: 4px;
        height: 4px;
        border-radius: 2px;
        background-color: #1cbd6a; }

.slider__second-container {
  position: relative; }
  .slider__second-container-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52rem;
    overflow: hidden; }
    .slider__second-container-photo img {
      flex-shrink: 0;
      min-width: 100%;
      min-height: 100%; }
  .slider__second-container-left {
    position: absolute;
    left: 0;
    top: 48%;
    transform: translate(-50%, -50%); }
  .slider__second-container-right {
    position: absolute;
    right: 0;
    top: 48%;
    transform: translate(50%, -50%); }
  .slider__second-container-numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 87%;
    right: 5%;
    font-size: 12px;
    line-height: 18px;
    color: #f5f8fc;
    width: 42px;
    height: 20px;
    border-radius: 10px;
    background-color: rgba(5, 0, 16, 0.3); }

.slider__third-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 11rem;
  padding: 0 2rem; }
  .slider__third-container p {
    font-size: 1.4rem;
    color: #556578;
    line-height: 18px;
    padding: 0 0.5rem; }

.section-share {
  display: flex;
  gap: 3rem; }
  .section-share__photo {
    width: 17.3rem; }
    .section-share__photo img {
      transform: translateY(-18px); }
  .section-share__container {
    display: flex;
    align-items: center;
    justify-content: none;
    width: 100%;
    gap: 2.8rem; }
    .section-share__container-text {
      color: #f5f8fc;
      font-size: 1.5rem;
      text-align: right;
      line-height: 1.8rem; }

.copyright {
  display: flex;
  align-items: center;
  justify-content: none;
  font-size: 1.4rem;
  color: #f5f8fc80;
  gap: 1.5rem; }

.footer-list {
  display: flex;
  list-style: none; }
  .footer-list__link {
    transition: all 0.2s; }
    .footer-list__link:link, .footer-list__link:visited {
      display: inline-block;
      font-size: 1.4rem;
      color: #f5f8fc;
      text-decoration: none;
      padding: 0.7rem 1.6rem; }
    .footer-list__link:hover, .footer-list__link:active {
      background-color: rgba(5, 0, 16, 0.3);
      border-radius: 100px; }

.active-footer-link {
  background-color: rgba(5, 0, 16, 0.3);
  border-radius: 100px; }

.socialmedia {
  display: flex;
  list-style: none;
  gap: 3rem;
  width: max-content;
  background-color: rgba(5, 0, 16, 0.3);
  border-radius: 5px;
  padding: 1.5rem 3rem; }
  .socialmedia__item {
    display: inline; }
    .socialmedia__item i {
      font-size: 1.7rem;
      color: #f5f8fc;
      cursor: pointer; }

.main {
  width: 120rem;
  margin: 0 auto; }
  .main section {
    border-radius: 5px;
    filter: drop-shadow(0px 10px 6.5px rgba(0, 0, 0, 0.3)); }

.grid-main {
  display: grid;
  grid-template-columns: 64rem 52rem;
  grid-template-rows: 29.5rem 56.8rem;
  gap: 4rem; }

.grid-small {
  display: grid;
  gap: 4rem; }

.grid-small-horizonatlly {
  display: grid;
  grid-template-columns: 8rem 52rem;
  gap: 4rem; }

.section-task {
  background-color: #002754; }

.section-budget {
  border-radius: 5px;
  filter: drop-shadow(0px 10px 6.5px rgba(0, 0, 0, 0.2));
  display: flex;
  flex-direction: column;
  justify-content: none;
  gap: 3rem;
  padding: 2rem;
  position: relative;
  overflow: hidden; }
  .section-budget::after {
    width: 100%;
    height: 100%;
    content: '';
    background-image: url(../img/kpi-budget/flower.png);
    transform: scale(1.21);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: -25px;
    bottom: -23px;
    z-index: -2; }

.section-ideas {
  display: grid;
  grid-template-rows: 1fr 11rem;
  background-color: #f5f8fc;
  overflow: hidden; }

.section-news {
  border-radius: 5px;
  filter: drop-shadow(0px 10px 6.5px rgba(0, 0, 0, 0.2));
  overflow: hidden;
  transform: translateY(-5px);
  height: max-content; }

.section-slider {
  border-radius: 5px;
  filter: drop-shadow(0px 10px 6.5px rgba(0, 0, 0, 0.2));
  background-color: #f5f8fc; }

.section-share {
  background-color: #12151e;
  overflow: hidden; }

.header {
  width: 120rem;
  margin: 0 auto;
  z-index: 10; }

.section-navigation {
  border-radius: 5px;
  filter: drop-shadow(0px 10px 6.5px rgba(0, 0, 0, 0.2));
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
  padding: 0 2rem;
  background-color: #f5f8fc; }
  .section-navigation__container {
    display: flex;
    align-items: center;
    justify-content: none;
    margin-left: 2rem;
    gap: 9rem; }

.footer {
  width: 120rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 29.2rem; }

.home {
  background-color: #34284f;
  background-image: url("../img/background/background.png");
  background-size: cover; }

.container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 4rem; }
