.header {
  @include centered;
  z-index: 10;
}
.section-navigation {
  @include roundCornerAndShadow(0.2);
  @include centered-vertical-flex(space-between);
  height: 8rem;
  padding: 0 2rem;
  background-color: $color-grey-1;
  &__container {
    @include centered-vertical-flex(none);
    margin-left: 2rem;
    gap: 9rem;
  }
}
