.footer-list {
  display: flex;
  list-style: none;

  &__link {
    @include link($color-grey-1, $color-transparent, 0.7rem 1.6rem);
    transition: $transiton-all-2s;
  }
}

.active-footer-link {
  background-color: $color-transparent;
  border-radius: 100px;
}
