.m-top-20px {
  margin-top: 2rem;
}
.m-top-10px {
  margin-top: 1rem;
}

.f-weight-300 {
  font-weight: 300;
}
.f-weight-400 {
  font-weight: 400;
}

.f-weight-500 {
  font-weight: 500;
}

.f-weight-700 {
  font-weight: 700;
}
