.home {
  background-color: $color-viloet-2;
  background-image: url('../img/background/background.png');
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  gap: $default-gap;
  margin-top: $default-gap;
}
